#site-navbar {
  background-color: $color-transparent-dark !important;
  z-index: 10;
  transition: $transition-slow;
  color: $color-primary-white;
  .title {
    color: $color-primary-white;
  }
  .nav-header {
    position: relative;
    a {
      span {
        color: $color-primary-dark;
      }
    }
    span {
      color: $color-primary-white;
    }
  }
  .nav-header-link::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 50%;
    margin: 0 auto;
    transition: all 0.5s;
    z-index: -1;
  }
  .nav-header-link:hover::before {
    border-bottom: solid 2px $color-primary;
    width: 100%;
    left: 0%;
  }
  .nav-header-link:hover {
    .dropdown-toggle {
      color: $color-transparent-light !important;
    }
    span {
      color: $color-transparent-light;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.expanded {
  background-color: $color-transparent-extra-dark !important;
  padding: 10px 30px !important;
}

.dropdown-toggle {
  transition: $transition-slow;
  color: $color-primary-white !important;
}

.nav-dropdown-link {
  span {
    color: $color-primary-dark !important;
  }
}
