#site-navbar {
  background-color: $color-transparent-dark;
  z-index: 10;
  transition: all 0.5s;
  color: $color-primary-white;
  .title {
    color: $color-primary-white;
  }
  .nav-header-link {
    position: relative;
  }
  .nav-header-link::before {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    width: 0%;
    left: 50%;
    margin: 0 auto;
    transition: all 0.5s;
    z-index: -1;
  }
  .nav-header-link:hover::before {
    border-bottom: solid 2px $color-primary;
    width: 100%;
    left: 0%;
  }
  .nav-header-link:hover {
    span {
      color: $color-transparent-light;
    }
  }
  a:hover {
    text-decoration: none;
  }
}

.expanded {
  background-color: $color-transparent-extra-dark !important;
  padding: 10px 30px !important;
}
