// Color Variables

$color-primary: #0083a7;
$color-transparent-dark: rgba(0, 0, 0, 0.5);
$color-transparent-extra-dark: rgba(0, 0, 0, 0.8);
$color-transparent-light: rgba(255, 255, 255, 0.75);
$color-primary-white: #fff;

//Padding and Borders

//Other Variables
$transition-slow: ease-in-out 0.5s;
